@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  padding: 30px 20px;
  box-shadow: 0px 0px 5px rgb(46, 37, 37);
}

.header_link {
  display: inline-block;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.header_link.active{
  color: #c22e2e;
}